body, html {
    height: 100%;
}


body{
  background-image: url( '../images/sun-pattern.png');
  margin-left: 0;
  margin-right: 0;
}

.pics img{
  width:40%;
  height: auto;
  padding: 5%;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  margin-left: auto;
  margin-right: auto;
}

.pics{
  display: flex;
  flex-wrap: nowrap;
  float: left;
  width: 100%;
  margin: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  justify-content: space-around;
}
